{{ define "sitewide" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else }}
    <meta name="description" content="An example site built with gen.">
    {{ end }}
    <style>{{ minifiedCSS }}</style>
    <title>{{ .Title }}</title>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    {{ noescape .Body }}
  </body>
</html>
{{ end }}
