# See "git help shortlog" for reference.
Ilya Mateyko <astrophena@gmail.com> <git@inbox.astrophena.me>
Ilya Mateyko <astrophena@gmail.com> <gitlab@inbox.astrophena.me>
Ilya Mateyko <astrophena@gmail.com> <58525038+astrophena@users.noreply.github.com>
Ilya Mateyko <astrophena@gmail.com> <astrophena+git@gmail.com>
Ilya Mateyko <astrophena@gmail.com> <me@astrophena.me>
